* {
  box-sizing: border-box;
  background-color: #2a607c
  padding:;
  margin:0;
  color: ;
}

body {
  background-color:lightgrey;
}  

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:white;   
}

header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: #2a607c ; 

}

.seo {
  color: #f1f4f5 ;
  float: inline-start;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 75px;
}

header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
  padding: 50px;
  background-color: #2a607c;
  color: floralwhite;
}

li {
  list-style-type: none;
  margin-left: 150px;
  float: right;
}


a {
  color: rgb(245, 238, 238);
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

p {
  font-size: 30px;
}